[mysqld]
#skip-log-bin
skip_name_resolve = 1
local_infile=1
lock_wait_timeout = 3600
binlog_cache_size = 2M
max_connect_errors = 1000000
connect_timeout = 70
net_read_timeout = 70
net_write_timeout = 70
#sysdate-is-now
#binlog_format = ROW
#server-id = 252
#log_timestamps=SYSTEM
open_files_limit   = 65535
back_log = 1024
max_connections = 2000
table_open_cache = 1024
table_definition_cache = 1024
sort_buffer_size = 4M
join_buffer_size = 4M
read_buffer_size = 8M
read_rnd_buffer_size = 4M
bulk_insert_buffer_size = 64M
ft_min_word_len = 4
thread_stack = 512K
thread_cache_size = 1500
interactive_timeout = 600
wait_timeout = 600
tmp_table_size = 32M
max_heap_table_size = 32M
transaction_isolation = REPEATABLE-READ

#log settings
#log_timestamps = SYSTEM
#log_error = /bitnami/mysql/data/error.log
#log_error_verbosity = 3
#slow_query_log = 1
#log_slow_extra = 1
#slow_query_log_file = /bitnami/mysql/data/mysql_slow.log
#long_query_time = 8
#log_queries_not_using_indexes = 1
#log_throttle_queries_not_using_indexes = 60
#min_examined_row_limit = 100
#log_slow_admin_statements = 1
#log_slow_slave_statements = 1
#log_bin = /bitnami/mysql/data/erp-yhwms-mysql-bin
#binlog_format = ROW
#sync_binlog = 1 #MGR环境中由其他节点提供容错性，可不设置双1以提高本地节点性能
#binlog_cache_size = 4M
#max_binlog_cache_size = 2G
#max_binlog_size = 1G
#binlog_rows_query_log_events = 1
#binlog_expire_logs_seconds = 86400

default_authentication_plugin=mysql_native_password
basedir=/opt/bitnami/mysql
plugin_dir=/opt/bitnami/mysql/lib/plugin
port=3306
socket=/opt/bitnami/mysql/tmp/mysql.sock
datadir=/bitnami/mysql/data
tmpdir=/opt/bitnami/mysql/tmp
max_allowed_packet=512M
bind-address=0.0.0.0
pid-file=/opt/bitnami/mysql/tmp/mysqld.pid
log-error=/opt/bitnami/mysql/logs/mysqld.log
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

[client]
port=3306
socket=/opt/bitnami/mysql/tmp/mysql.sock
default-character-set=utf8mb4
plugin_dir=/opt/bitnami/mysql/lib/plugin

